/* === Hire Section === */
.hire-section {
    background: url(../../assets/images/hire-bg.jpg) no-repeat top center #68C3A3;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
.hire-section-bg {
    padding: 110px 0;
    background: -webkit-linear-gradient(bottom, #52b3d9, rgba(82, 179, 217, 0.7)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, #52b3d9, rgba(82, 179, 217, 0.7)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, #52b3d9, rgba(82, 179, 217, 0.7)); /*Fx 3.6-15*/
    
    background: linear-gradient(to top, #52b3d9, rgba(82, 179, 217, 0.7)); /*Standard*/
}

.hire-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.hire-section .btn {
    padding: 9px 54px;
}

/*btn-default*/
.btn-default {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active{
    color: #52b3d9;
    background-color: #fff;
    border-color: #fff;
}
