<!-- Footer Section -->
<footer class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="copyright">
          Template by: <p>&copy; TrendyTheme 2015. All rights reserved.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="copyright">
          Web site by: <p>&copy; Daniel Correa 2017. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End Footer Section -->

<!-- Scroll-up -->
	<!--<div class="scroll-up">
		<a [routerLink]="['/']" ><i class="fa fa-angle-up"></i></a>
	</div>-->

