<!-- About Section -->
<section id="about" class="about-section section-padding animated bounceInLeft">
  <div class="container">
    <h2 class="section-title animated fadeInUp">About Me</h2>

    <div class="row">

      <div class="col-md-4 col-md-push-8">
        <div class="biography">
          <div class="myphoto">
            <img src="assets/images/daniel-profile.jpg" alt="">
          </div>
          <ul>
            <li><strong>Name:</strong> {{information.name}}</li>
            <li><strong>Date of birth:</strong> {{information.birth}}</li>
            <li><strong>City:</strong> {{information.city}}</li>
            <li><strong>Nationality:</strong> {{information.nationality}}</li>
            <li><strong>Phone:</strong> {{information.phone}}</li>
            <li><strong>Email:</strong> {{information.email}}</li>
          </ul>
        </div>
      </div> <!-- col-md-4 -->

      <div class="col-md-8 col-md-pull-4">
        <div class="short-info wow fadeInUp">
          <h3>Software Engineer</h3>
          <p>I'm a 2+ years experience Software Engineer, challenge driven, always willing to learn, passionate about new technologies and writing code. My main focus is: </p>

          <ul class="list-check">
            <li>Software Engineer</li>
            <li>UI Programming</li>
            <li>BackEnd Programming</li>
            <li>Service Oriented Architectures</li>
            <li>Data Base design</li>
            <li>DevOps Culture</li>
          </ul>
        </div>

        <div class="short-info wow fadeInUp">
          <h3>What I Am Passionate for ?</h3>
          <p>I'm a world traveler, I have had the chance to meet a lot of people of different countries and travel around Europe, South America and North America. Always willing to flight, talk and take a good beer :), some of my favorites activities are: </p>

          <ul class="list-check">
            <li>Programming Challenges</li>
            <li>Music</li>
            <li>Soocer</li>
            <li>Travel</li>
            <li>Always meet new cultures</li>
            <li>Good Beer</li>
          </ul>
        </div>

        <div class="download-button">
          <a class="btn btn-info btn-lg" [routerLink]="['/contact']"><i class="fa fa-paper-plane"></i>Send me message</a>
          <a class="btn btn-primary btn-lg" target="_self" href="assets/DanielCorrea_SoftwareEngineer.pdf" download="DanielCorrea_SoftwareEngineer.pdf"><i class="fa fa-download"></i>Download my cv</a>
        </div>
      </div>


    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section><!-- End About Section -->
