<!-- Contact Section -->
<section id="contact" class="contact-section section-padding">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Get in touch</h2>

    <div class="row">
      <!-- No contact form for MVP -->
      <div class="col-md-12">
        <div class="row center-md text-center">
          <div class="col-md-3">
            <i class="fa fa-map-marker"></i>
        
            <address>
            <strong>City/Country</strong>
            {{city}}, {{country}}<br>
            </address>            
          </div>

          <div class="col-md-3">
            <i class="fa fa-mobile"></i>
            <div class="contact-number">
              <strong>Phone Number</strong>
              {{phone}}<br>
            </div>
          </div>

          <div class="col-md-3">
            <i class="fa fa-envelope-o"></i>
            <div class="contact-number">
              <strong>Email</strong>
              <a [href]="'mailto:' + email">{{email}}</a>
            </div>
          </div>

          <div class="col-md-3">
            <i class="fa fa-skype"></i>
            <div class="contact-number">
              <strong>Skype</strong>
              {{skype}}
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-sm-12">
            <div class="location-map">
                <agm-map [latitude]="latitude" [longitude]="longitude" [minZoom]="minZoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                </agm-map>
            </div>
        </div>
      </div>

      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- End Contact Section -->
