<!-- Skills Section -->
<section id="skills" class="skills-section section-padding animated bounceInLeft">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Skills</h2>
        <div class="skill-chart text-center">
            <h3>Development skills</h3>
        </div><br/><br/>
        <div class="row">
            <div class="col-md-6">
                <div class="skill-progress">
                    <div class="skill-title">
                        <h3>FrontEnd</h3>
                    </div>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" [style.width]="devSkills.frontEnd"><span>{{devSkills.frontEnd}}</span>
                            <p> <strong>Angular, TS, CSS3, HTML5, Bootstrap, Ionic, Jquery </strong></p>
                        </div>

                    </div>
                    <!-- /.progress -->
                </div>
                <!-- /.skill-progress -->

                <div class="skill-progress">
                    <div class="skill-title">
                        <h3>BackEnd</h3>
                    </div>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" [style.width]="devSkills.backEnd" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100"><span>{{devSkills.backEnd}}</span>
                            <p><strong>Python (Django), Ruby, Java, C++, Node.js</strong></p>
                        </div>
                    </div>
                    <!-- /.progress -->
                </div>
                <!-- /.skill-progress -->
                <div class="skill-progress">
                    <div class="skill-title">
                        <h3>Source Control</h3>
                    </div>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" [style.width]="devSkills.sourceControl" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100"><span>{{devSkills.sourceControl}}</span>
                            <p><strong>Git, Github, Bitbucket</strong></p>
                        </div>
                    </div>
                    <!-- /.progress -->
                </div>
                <!-- /.skill-progress -->
            </div>
            <!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="skill-progress">
                    <div class="skill-title">
                        <h3>Database</h3>
                    </div>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" [style.width]="devSkills.dataBase" aria-valuenow="95" aria-valuemin="0"
                            aria-valuemax="100"><span>{{devSkills.dataBase}}</span>
                            <p><strong>PostgreSQL, MySQL, HBase, Elasticsearch, Mongo</strong></p>
                        </div>
                    </div>
                    <!-- /.progress -->
                </div>
                <!-- /.skill-progress -->
                <div class="skill-progress">
                    <div class="skill-title">
                        <h3>DevOps</h3>
                    </div>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" [style.width]="devSkills.devOps" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100"><span>{{devSkills.devOps}}</span>
                            <p><strong>Docker, Heroku, AWS, Batch, Azure</strong></p>
                        </div>
                    </div>
                    <!-- /.progress -->
                </div>
                <!-- /.skill-progress -->
                <div class="skill-progress">
                    <div class="skill-title">
                        <h3>IoT</h3>
                    </div>
                    <div class="progress">
                        <div class="progress-bar six-sec-ease-in-out" role="progressbar" [style.width]="devSkills.iOT" aria-valuenow="75" aria-valuemin="0"
                            aria-valuemax="100"><span>{{devSkills.iOT}}</span>
                            <p><strong>Arduino</strong></p>
                        </div>
                    </div>
                    <!-- /.progress -->
                </div>
                <!-- /.skill-progress -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-8">
                <div class="skill-chart text-center">
                    <h3>Personal skills</h3>
                </div>
                <div class="row more-skill text-center">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="chart">
                            <span class="percent">{{circularData.leadership}}</span>
                            <round-progress [current]="circularData.leadership" [max]="circularConfig.max" [color]="circularConfig.color" [background]="circularConfig.background" [responsive]="circularConfig.responsive" [radius]="circularConfig.radius">
                            </round-progress>
                            <div class="chart-text">
                                <span>Leadership</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="chart" data-percent="23" data-color="2ecc71">
                            <span class="percent">{{circularData.creativity}}</span>
                            <round-progress [current]="circularData.creativity" [max]="circularConfig.max" [color]="circularConfig.color" [background]="circularConfig.background" [responsive]="circularConfig.responsive" [radius]="circularConfig.radius">
                            </round-progress>
                            <div class="chart-text">
                                <span>Creativity</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="chart" data-percent="68" data-color="3498db">
                            <span class="percent">{{circularData.confidence}}</span>
                            <round-progress [current]="circularData.confidence" [max]="circularConfig.max" [color]="circularConfig.color" [background]="circularConfig.background" [responsive]="circularConfig.responsive" [radius]="circularConfig.radius">
                            </round-progress>
                            <div class="chart-text">
                                <span>Confidence</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="chart" data-percent="68" data-color="3498db">
                            <span class="percent">{{circularData.communication}}</span>
                            <round-progress [current]="circularData.communication" [max]="circularConfig.max" [color]="circularConfig.color" [background]="circularConfig.background" [responsive]="circularConfig.responsive" [radius]="circularConfig.radius">
                            </round-progress>
                            <div class="chart-text">
                                <span>Communication</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="skill-chart text-center">
                    <h3>Languages</h3>
                </div>
                <div class="row more-skill text-center">
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <div class="chart" data-percent="68" data-color="3498db">
                            <span class="percent">{{circularData.english}}</span>
                            <round-progress [current]="circularData.english" [max]="circularConfig.max" [color]="circularConfig.color" [background]="circularConfig.background" [responsive]="circularConfig.responsive" [radius]="circularConfig.radius">
                            </round-progress>
                            <div class="chart-text">
                                <span>English <br/><small>(Fluent)</small></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <div class="chart" data-percent="68" data-color="3498db">
                            <span class="percent">{{circularData.spanish}}</span>
                            <round-progress [current]="circularData.spanish" [max]="circularConfig.max" [color]="circularConfig.color" [background]="circularConfig.background" [responsive]="circularConfig.responsive" [radius]="circularConfig.radius">
                            </round-progress>
                            <div class="chart-text">
                                <span>Spanish <br/><small>(Native)</small></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</section>
<!-- End Skills Section -->
