<div>
	<h1>Gems Store <small>By Daniel Correa</small></h1><hr>			
	<div class="list-group">
		<strong>Options: </strong>
		<button class="btn btn-md btn-warning" ng-click="store.sort()"> 
		<span class="glyphicon {{store.icon}}"></span> Order 
		</button>
		<button class="btn btn-md btn-info" ng-click="store.sentMsn()"> Broadcast</button>
		<button class="btn btn-md btn-danger" ng-click="store.redirect()"> Info</button>
		<b class="pull-right">Total items selected: {{store.productsInCart.length}}</b><br>
		<hr>
		<div class="list-group-item" ng-repeat="product in store.products | orderBy: '-price':store.type" ng-hide="product.soldOut">
			<product-information>
			</product-information>
			
			<product-panels>
			</product-panels>
		</div>
	</div>	
</div>