<!-- Works Section -->
<section id="works" class="works-section section-padding animated bounceInLeft">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Works</h2>

    <div class="row">
      <div id="grid">
        <div class="col-lg-6">
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-6">
                <div class="portfolio-bg">
                    <div class="portfolio">
                    <div class="tt-overlay"></div>
                    <div class="links links-center">
                        <a href="https://github.com/angular-medellin/form" target="_blank"><i class="fa fa-github"></i></a>
                    </div><!-- /.links -->
                    <img width="255.5" height="192" src="assets/images/works/form.jpeg" alt="Angular Medellín / Form">
                    <div class="portfolio-info">
                        <h3>Angular Medellín / Form</h3>
                    </div><!-- /.portfolio-info -->
                    </div><!-- /.portfolio -->
                </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->

            <div class="col-md-6">
                <ul class="list-check">
                    <li>Realse V1: Jul 2017</li>
                    <li>Angular Med first community App</li>
                    <li>Angular 4+</li>
                    <li>Node js</li>
                    <li>MailChimp</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-6">
                <div class="portfolio-bg">
                    <div class="portfolio">
                    <div class="tt-overlay"></div>
                    <div class="links">
                        <a href="https://danielcb29.github.io/Movie-Cli/" target="_blank"><i class="fa fa-link"></i></a>
                        <a href="https://github.com/danielcb29/Movie-Cli" target="_blank"><i class="fa fa-github"></i></a>
                    </div><!-- /.links -->
                    <img width="255.5" height="192" src="assets/images/works/moviecli.png" alt="image">
                    <div class="portfolio-info">
                        <h3>Movie CLI</h3>
                    </div><!-- /.portfolio-info -->
                    </div><!-- /.portfolio -->
                </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->

            <div class="col-md-6">
                <ul class="list-check">
                    <li>AlertLogic Angular course</li>
                    <li>TMDB Movie API Client</li>
                    <li>Angular 2+</li>
                    <li>Bootstrap</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-6">
                <div class="portfolio-bg">
                    <div class="portfolio">
                    <div class="tt-overlay"></div>
                    <div class="links links-center">
                        <a>
                            <i class="fa fa-lock"></i>
                        </a>
                        <br/>
                        <br/>
                        <p><strong> Private project </strong></p>
                    </div><!-- /.links -->
                    <img width="255.5" height="192" src="assets/images/works/gtl.jpg" alt="image">
                    <div class="portfolio-info">
                        <h3>GTL-TM</h3>
                    </div><!-- /.portfolio-info -->
                    </div><!-- /.portfolio -->
                </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->

            <div class="col-md-6">
                <ul class="list-check">
                    <li>Inmates tablets configuration</li>
                    <li>GTL internal product</li>
                    <li>Angular 1.6</li>
                    <li>Typescript</li>
                    <li>Bootstrap</li>
                    <li>HTML5/CSS3</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-6">
                <div class="portfolio-bg">
                    <div class="portfolio">
                    <div class="tt-overlay"></div>
                    <div class="links links-center">
                        <a>
                            <i class="fa fa-lock"></i>
                        </a>
                        <br/>
                        <br/>
                        <p><strong> Private project </strong></p>
                    </div><!-- /.links -->
                    <img width="255.5" height="192" src="assets/images/works/segurote.png" alt="image">
                    <div class="portfolio-info">
                        <h3>Segurote</h3>
                    </div><!-- /.portfolio-info -->
                    </div><!-- /.portfolio -->
                </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->

            <div class="col-md-6">
                <ul class="list-check">
                    <li>Insurance platform</li>
                    <li>Insurance colombian services </li>
                    <li>Django + Angular 4+</li>
                    <li>Bootstrap</li>
                    <li>HTML5/CSS3</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-6">
                <div class="portfolio-bg">
                    <div class="portfolio">
                    <div class="tt-overlay"></div>
                    <div class="links links-center">
                        <a>
                            <i class="fa fa-lock"></i>
                        </a>
                        <br/>
                        <br/>
                        <p><strong> Private project </strong></p>
                    </div><!-- /.links -->
                    <img width="255.5" height="192" src="assets/images/works/portfolio-2.jpg" alt="image">
                    <div class="portfolio-info">
                        <h3>SIND Coldeportes</h3>
                    </div><!-- /.portfolio-info -->
                    </div><!-- /.portfolio -->
                </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->

            <div class="col-md-6">
                <ul class="list-check">
                    <li>Colombia sport platform</li>
                    <li>SaaS App (Multi-tenant)</li>
                    <li>Python (Django)</li>
                    <li>REST API</li>
                    <li>Ionic 1</li>
                    <li>Bootstrap + HTML5/CSS3</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-6">
                <div class="portfolio-bg">
                    <div class="portfolio">
                    <div class="tt-overlay"></div>
                    <div class="links links-center">
                        <a>
                            <i class="fa fa-lock"></i>
                        </a>
                        <br/>
                        <br/>
                        <p><strong>Private project</strong></p>
                    </div><!-- /.links -->
                    <img width="255.5" height="192" src="assets/images/works/gedi.png" alt="image">
                    <div class="portfolio-info">
                        <h3>GEDI</h3>
                    </div><!-- /.portfolio-info -->
                    </div><!-- /.portfolio -->
                </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->

            <div class="col-md-6">
                <ul class="list-check">
                    <li>GEDI group information page</li>
                    <li>Research database</li>
                    <li>Python (Django)</li>
                    <li>PostgreSQL</li>
                    <li>Bootstrap</li>
                    <li>HTML5/CSS3</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-6">
                <div class="portfolio-bg">
                    <div class="portfolio">
                    <div class="tt-overlay"></div>
                    <div class="links links-center">
                        <a href="http://contratos.transespecialejecutivos.com" target="_blank"><i class="fa fa-link"></i></a>
                    </div><!-- /.links -->
                    <img width="255.5" height="192" src="assets/images/works/planillas.png" alt="image">
                    <div class="portfolio-info">
                        <h3>Planillas 1.0</h3>
                    </div><!-- /.portfolio-info -->
                    </div><!-- /.portfolio -->
                </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->

            <div class="col-md-6">
                <ul class="list-check">
                    <li>FUEC platform solution</li>
                    <li>Document generation</li>
                    <li>Google Apps Scripting</li>
                    <li>Joomla</li>
                    <li>Google Docs</li>
                    <li>HTML5/CSS3</li>
                </ul>
            </div>
        </div>
      </div><!-- /#grid -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- End Works Section -->
<app-facts></app-facts>
