<!-- Works Section -->
<section id="works" class="works-section section-padding animated bounceInLeft">
  <div class="container">
    <h2 class="section-title wow fadeInUp">Works</h2>

    <div class="row">
      <div id="grid">
        <div class="col-lg-6">
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-6">
                <div class="portfolio-bg">
                    <div class="portfolio">
                    <div class="tt-overlay"></div>
                    <div class="links">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </div><!-- /.links -->
                    <img src="assets/images/works/portfolio-1.jpg" alt="image">
                    <div class="portfolio-info">
                        <h3>Portfolio Title</h3>
                    </div><!-- /.portfolio-info -->
                    </div><!-- /.portfolio -->
                </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
        </div>
        <div class="col-lg-6">
            <div class="portfolio-item col-xs-12 col-sm-4 col-md-6">
                <div class="portfolio-bg">
                    <div class="portfolio">
                    <div class="tt-overlay"></div>
                    <div class="links">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </div><!-- /.links -->
                    <img src="assets/images/works/portfolio-2.jpg" alt="image">
                    <div class="portfolio-info">
                        <h3>Portfolio Title</h3>
                    </div><!-- /.portfolio-info -->
                    </div><!-- /.portfolio -->
                </div><!-- /.portfolio-bg -->
            </div><!-- /.portfolio-item -->
        </div>
      </div><!-- /#grid -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- End Works Section -->
<app-facts></app-facts>
